<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div id="about_change" class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br /><br />
      <h2>About Me.</h2>
      <hr class="intro-divider" />
      <br />
      <font size="4px">
        <p><font size="5px">Hello,</font></p>
        <p><i class="fa fa-terminal"></i></p>
        <p>my name is <font color="DarkTurquoise">jason</font></p>
        <p><i class="fa fa-terminal"></i></p>
        <p>
          i create <font color="0586BA">software</font> at
          <font color="#263F5B">elevāt</font>
        </p>
        <p><i class="fa fa-terminal"></i></p>
        <p>
          and study <font color="HotPink">software engineering</font> at
          <font color="#444D56">penn state university</font>
        </p>
        <p><i class="fa fa-terminal"></i></p>
        i enjoy
        <font color="Tomato"
          >fashion <i class="fa fa-camera-retro" aria-hidden="true"></i
        ></font>
        &nbsp
        <font color="LimeGreen"
          >cars <i class="fa fa-automobile" aria-hidden="true"></i
        ></font>
        &nbsp and <font color="gold">tennis 网球</font>
        <p><br /></p>
        <p><i class="fa fa-anchor"></i></p>
        <br />
      </font>
    </div>
  </div>
</section>
