<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="{{ site.author }}" />
  <meta property="og:image" content="https://i.ibb.co/zmHXh2N/thumbnail.png" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="css/landing-page.css" rel="stylesheet" />

  <!-- Custom Fonts -->
  <script src="https://use.fontawesome.com/071362647b.js"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Quicksand:500"
    rel="stylesheet"
  />

  <!-- Custom Logo for Icon Shortcut -->
  <link
    rel="shortcut icon"
    href="https://raw.githubusercontent.com/WesleyyC/wesleyyc.github.io/master/img/logo/logo.ico"
  />

  <!-- Instafeed.js -->
  <script type="text/javascript" src="js/instafeed.min.js"></script>

  <!-- particles.js -->
  <script type="text/javascript" src="js/particles.js"></script>
</head>
