<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>


<!-- InstaFeed -->
<script type="text/javascript">
  if(typeof window.orientation !== 'undefined'){
    var feed = new Instafeed({
      accessToken: InstagramToken,
      sortBy:'most-recent',
      limit: 6,
      transform: function(item) {
        var d = new Date(item.timestamp);
        item.date = [d.getDate(), d.getMonth(), d.getYear()].join('/');
        return item;
      }
    });
  }else{
    var feed = new Instafeed({
      accessToken: InstagramToken,
      sortBy:'most-recent',
      limit: 15,
    });
  }
  feed.run();
</script>




