<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>


<!-- InstaFeed -->
<script type="text/javascript">
	// var loadButton = document.getElementById('more_link');
    if(typeof window.orientation !== 'undefined'){
      var feed = new Instafeed({
          clientId: '6c21179fc59541629449060aa5f941ed',
          get: 'user',
          userId: 233623744,
          resolution: 'standard_resolution',
          accessToken: '233623744.6c21179.bcee18499f914ccba99e03b9992097ac',
          sortBy:'most-recent',
          limit: 6,

      });
    }else{
      var feed = new Instafeed({
          clientId: '6c21179fc59541629449060aa5f941ed',
          get: 'user',
          userId: 233623744,
          resolution: 'standard_resolution',
          accessToken: '233623744.6c21179.bcee18499f914ccba99e03b9992097ac',
          sortBy:'most-recent',
          limit: 15,

      });
    }



    feed.run();
</script>




