<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      property="og:image"
      content="https://github.com/jawang94/jawang94.github.io/blob/master/img/logo/logo.png"
    />
    <title>Document</title>
  </head>

  <body>
    {% include head.html %}

    <body>
      {% include header.html %} {% include about.html %} {% include
      instagram.html %} {% include experiences.html %} {% include contact.html
      %} {% include footer.html %} {% include js.html %}
    </body>
  </body>
</html>
